<!-- New Projects -->
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="AI Document Processing" src="{{ "/assets/img/pic09.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Generative AI Document Processing</h3>

    <p>Streamlined document workflows by integrating GPT-4, creating a system that reads and generates reports intelligently to reduce repetitive work while generating context related outputs.</p>
    <a class="project-link" href="#">Ongoing</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="UnCap Intelligence Tool" src="{{ "/assets/img/pic08.png" | prepend: site.baseurl }}" onclick="window.open('/assets/img/LixCap Reference Letter Albert.pdf', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>LixCap: Intelligence Tool Analysis</h3>

    <p>Mined trade data from over 100 countries, building a tool that reveals emerging market trends and helps navigate complex global shipping networks.</p>
    <a class="project-link" href="/assets/img/LixCap Reference Letter Albert.pdf" target="_blank">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Instagram Analytics" src="{{ "/assets/img/pic05.png" | prepend: site.baseurl }}" onclick="window.open('https://public.tableau.com/views/InstagramPostAnalysis/DashboardMonth?:language=es-ES&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>Financial Impact of Instagram Posts</h3>
    <p>Turned social media metrics into visual stories, crafting dashboards that highlight how engagement shapes brand revenue and audience connection.</p>
    <a class="project-link" href="https://public.tableau.com/views/InstagramPostAnalysis/DashboardMonth?:language=es-ES&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link" target="_blank">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Apprentice Chef Analysis" src="{{ "/assets/img/pic04.png" | prepend: site.baseurl }}" onclick="window.open('https://github.com/ItsAlValenci/Apprentice_Chef_ML_Case', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>Supervised Learning: Apprentice Chef Case</h3>
    <p>Modeled customer preferences and subscription behavior to help a virtual culinary brand personalize recommendations and improve outreach.</p>
    <a class="project-link" href="https://github.com/ItsAlValenci/Apprentice_Chef_ML_Case" target="_blank">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Python Game" src="{{ "/assets/img/pic03.png" | prepend: site.baseurl }}" onclick="window.open('https://github.com/ItsAlValenci/Text_Adventure_Game', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>Text Adventure Game: Discovering Python</h3>
    <p>Reimagined a classic fable as an interactive text adventure, coding a storytelling engine that adapts dynamically to player choices.</p>
    <a class="project-link" href="https://github.com/ItsAlValenci/Text_Adventure_Game" target="_blank">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Credit Analysis" src="{{ "/assets/img/pic02.png" | prepend: site.baseurl }}" onclick="window.open('https://github.com/ItsAlValenci/Credit_Cards_Analysis', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>Credit Card Analysis: Good and Bad Users</h3>
    <p>Mined transaction histories to uncover subtle behavioral fingerprints, crafting interpretable ML models that separate trustworthy patterns from financial risk signals.</p>
    <a class="project-link" href="https://github.com/ItsAlValenci/Credit_Cards_Analysis" target="_blank">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="SEM Analysis" src="{{ "/assets/img/pic06.png" | prepend: site.baseurl }}" onclick="window.open('https://github.com/ItsAlValenci/R_Airfrance_Case', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>Optimizing SEM: AirFrance Case</h3>
    <p>Analyzed digital ad campaigns to expose hidden relationships between keywords and user intent, proposing smarter bidding strategies across platforms..</p>
    <a class="project-link" href="https://github.com/ItsAlValenci/R_Airfrance_Case" target="_blank">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="SQL Finance" src="{{ "/assets/img/pic01.png" | prepend: site.baseurl }}" onclick="window.open('https://github.com/ItsAlValenci/SQL_Financial_Statements', '_blank')" style="cursor: pointer;" />
  </div>
  <div class="contents">
    <h3>Financial Statements with SQL</h3>
    <p>Crafting financial data with SQL, transforming scattered ledgers into insights that reveal profitability, growth, and business health.</p>
    <a class="project-link" href="https://github.com/ItsAlValenci/SQL_Financial_Statements" target="_blank">View Project</a>
  </div>
</div>
