<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="AI Document Processing" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Generative AI Document Processing</h3>
    
    <p>Integrated GPT-4's API into a document pipeline, reducing manual report generation time by 50% for recurrent cases. Engineered semantic search using embeddings, improving retrieval accuracy by 35% while optimizing token costs by 40%.</p>
    <a class="project-link" href="#">View Project</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="UnCap Intelligence Tool" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>UnCap Intelligence Tool Analysis</h3>

    <p>Built ETL pipeline for 100+ countries' data, standardizing harmonized system codes and enabling a dynamic dashboard of the market. Analyzed 250+ global data points, identifying high-potential markets and recommending localized strategies to optimize shipping costs.</p>
    <a class="project-link" href="#">View Project</a>
  </div>
</div>
